<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.demo.mapper.managerMapper">


    <select id="getPasswordByName" resultType="String">
        select manager_pwd
        from springBoot.manager
        where manager_id = #{managerName}
    </select>

    <select id="getAllMsg" resultType="Map">
        select manager_id, manager_name
        from springBoot.manager
    </select>

    <insert id="upsertById">
        INSERT INTO springBoot.manager (manager_id, manager_name, manager_pwd)
        VALUES (#{managerId}, #{managerName}, #{managerPwd})
        ON DUPLICATE KEY UPDATE manager_name=#{managerName},
                                manager_pwd=#{managerPwd}
    </insert>

</mapper>